@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    background-color: #fdcee8;
    margin: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.navbar-mob {
    display: flex;
    justify-content: center;
    background-color: #fdcee8;
    align-items: center;
    position: fixed;
    z-index: 99999;
    width: 100vw;
}

.home {
    background-color: #fdcee8;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
.home-mobile {
    background-color: #fdcee8;
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    padding-top: 100px;
    width: 60vw;
    height: 600px;
    align-items: center;
    justify-content: space-between;
}
.hero-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    height: 600px;
    align-items: center;
    justify-content: space-between;
}

.hero-img img {
    width: 400px;
    border-radius: 1rem;
    padding: 10px;
}
.hero-img-mobile img{
    width: 100vw;
    border-radius: 1rem;
    padding: 10px;
    z-index: -999;
}

.hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-title-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 400px;
    align-items: center;
    justify-content: center;
}

.hero-title h1{
    font-size: 45px;
}
.socials {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center;
}
.socials h1 {
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 50px;
}

.videos {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 40px;
}
.videos-mobile{
    display: flex;
    flex-direction: column;
}
.videos video {
    width: 400px;
}
.videos-mobile video {
    width: 80vw;
    padding-top: 30px;
    padding-bottom: 20px;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
}

.desc-img-mobile {
    width: 60vw;
    align-items: center;
    justify-content: center;
}
.desc-img-mobile img {
    width: 60vw;
    padding-top: 40px;
}

.desc-text {
    width: 50vw;
}
.desc-text-mobile {
    width: 70vw;
    align-items: center;
}

.footer {
    background-color: #fdcee8;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}